{% extends 'base.html' %}

{% block title %}product display{% endblock %}

{% block style %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #0e0d0d;
        padding: 20px;
        text-align: center;
    }
    th {
        background: rgb(102, 102, 230);
    }
</style>
{% endblock %}

{% block content %}
<h1>product display</h1>

{% if error %}
<p color="red">{{ error }}</p>
{% endif %}

<table>
    <thead>
        <tr>
            <th>name</th>
            <th>category</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        {% if products %}
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">Not found products</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock %}
